<h2>Secrets</h2>

<h3>Hey Admin, now you can spy on all the users and what they're reading</h3>

<!--<select ng-model="controller.user.name">
    <option ng-repeat="user in controller.users" value="{{user}}">
        {{user}}
    </option>
</select>
<div>You chose: {{controller.user.name}}</div>-->

<div ng-repeat="user in controller.users">
    {{user.userName}}
    <div class="row">
        <div ng-repeat="book in user.books" class="col-md-3">
            <h4>{{book.title}}</h4>
            <div>
                {{book.author}}
                {{book.price|currency}}
            </div>
            <div>
                <img ng-src="{{book.bookUrl}}" class="img-responsive img-rounded" />
            </div>
        </div>
    </div>

</div>
